body{
	background-color: lightgrey;
}

h3{
	font-size: 40px;
	color: peachpuff;
}

h2{
	font-size: 20px;
	color: gold;	
}

.big{
	font-size: 60px;
}
		
.uppercase{
	text-transform: uppercase;
}

.big.uppercase{
	color: teal;
}

h1 span{
	color: violet;
}